.nav{

    background-color: black;
    padding: 1%;
    border: none;    
}

.title{
    color: white;
    font-size: 25px;
}

.header{
    
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    height : 130px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
    
}

.first{
    width : 200px;
    height : 130px;
    
}

.second{
    width : 500px;
    height : 130px;
    
}

.calendar_div{
    margin-top : 250px;
}

.calendar{
    
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content:center;
    flex-wrap: wrap;
}

.table_march{
    background-color: rgb(235, 235, 235);
    padding-bottom: 20px;
    
}

td{
    text-align: center;
}

.date{
    font-size: 15px;
    color: blac;
    border-radius: 25px;
    border: 0.1vh solid black;
    background-color: white;
    padding: 5px 15px
}
  
  